<footer class="bg-dark text-light text-center h5 py-2">
    <div class="container">
        <span class="mx-4">&copy;2024 Diego Peña</span>
        <i class="bi bi-facebook ms-5"></i>
        <i class="bi bi-whatsapp ms-5"></i>
        <i class="bi bi-instagram ms-5"></i>
        <i class="bi bi-telephone-fill ms-5"></i>
    </div>
</footer>