---
import { Image } from "astro:assets";
import Logo from '../img/Logo.png';
---
<nav class="navbar navbar-expand-lg bg-dark h4 my-0" data-bs-theme="dark">
    <div class="container-fluid">
      <a href="/"><Image src={Logo} alt="Logo" width={75} height={75}/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item ms-3">
            <a class="nav-link active" aria-current="page" href="/Tablas">Tablas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-3" href="/Reloj">Reloj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-3" href="/Galeria">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-3" href="/Galeria">Contacto</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="¿En que piensas?" aria-label="Search">
          <button class="btn btn-danger" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>